#navbar {
    background-color: whitesmoke;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    padding: 10px;
}

#navbar-top {
    padding: 10px;
}

#navbar-bottom {
    position: fixed;
    padding: 10px;
    bottom: 10px;
}

#website {
    position: absolute;
    left:20%;
    padding: 10px;
    padding-left: 20px;
}

.logins{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #4643e2;
}
h3 {
    color: #5e5cc7;
}
h4{
    color: #5e5cc7;
}

h5{
    color: #5e5cc7
}

p{
    font-size: large;
}

img{
    object-fit: cover;
}
