{% extends "navbar.html" %}

{% block title %}All Categories{% endblock %}

{% block content %}
    <div class="space ..."></div>

    <div class="p-1">
        <div>
            <h2>All Categories</h2>
            <h3>{{ count }} categories total, sorted alphabetically</h3>
            <a href="{{ url_for('new_category') }}"><button>Create New Category</button></a>
            <hr>
        </div>

        <div class="space space--xl"></div>

        <div class="p-1">
            {% for category in all_categories %}
                <div class="frame">
                    <div class="frame__header">
                        <img style="width: 100%;height: 100px" src="/uploads/{{ category[3] }}" alt="{{ category[1] }} Image">
                        <div class="frame__title">
                            <a href="{{url_for('get_category', cat_id=category[0])}}"><h3>{{ category[1] }}</h3></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}