{% extends "navbar.html" %}

{% block title %}{{ details[1] }}{% endblock %}

{% block content %}
    <div> <!--Category Header-->
        <img class="" style="width:100%;height:150px;" src="/uploads/{{ details[3] }}" alt="{{ details[1] }} image">
        <div class="space space..."></div>
        <div class="p-1">
            <h2 class="uppercase">{{ details[1] }}</h2>
            <h5 class="font-alt">{{ details[2] }}</h5>
        </div>

        <div class="row">
            <div class="col-5">
                <a href="{{ url_for('follow_category', cat_id=details[0]) }}"><button>{% if details[0] in categories[0] %}Unfollow{% else %}Follow{% endif %}</button></a> <!-- TODO: Actually make button do something-->
                <a href="{{ url_for("new_post", cat_id=details[0]) }}"><button>Create Post</button></a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="p-1">
        <h3 class="uppercase">Latest Posts from {{ details[1] }}</h3>
        {% if posts | length == 0 %}
            <p>No posts yet! Why don't you be the first?</p>
        {% endif %}
        {% for post in posts %}
            <div class="frame u-shadow-md u-border-1 border-light bg-light"> <!--Post Preview-->
                <div class="row">
                    <div class="col-5">
                        {% if post[4] != "None" %}
                            <img style="width:100%;height:100%" src="/uploads/{{ post[4] }}" alt="Post Image">
                        {% else %}
                            <img style="width:100%;height:100%" src="/default_img.png" alt="Default Post Image">
                        {% endif %}
                    </div>
                    <div class="col-7">
                        <div class="space ..."></div>
                        <a class="u u-LR" href="{{url_for('get_post', post_id=post[0])}}"><h3>{{ post[3] }}</h3></a>
                        <a class="u u-LR" href="{{url_for('get_category', cat_id=post[5])}}"><h6>{{ post[6] }}</h6></a> <!--Post Category-->
                        <p>Posted by <a class="u u-LR" href="{{ url_for('get_profile',user_id=post[7])}}">{{ post[8] }}</a> on {{ post[1] }}</p>  <!--Meant to be author-->
                        <p>{{ post[2] }} comments</p>
                    </div>
                </div>
            </div>
            <div class="space ..."></div>
        {% endfor %}
    </div>
{% endblock %}