{% extends "navbar.html" %}

{% block title %}{{ details[1] }}{% endblock %}

{% block content %}
    <div> <!--Category Header-->
        <img src="" alt="{{ details[1] }} image"> <!--TODO: IMAGE-->
        <h1>{{ details[1] }}</h1>
        <h3>{{ details[2] }}</h3>
        {% if details[0] in categories %}
            <button>Unfollow</button> <!-- TODO: Actually make button do something-->
        {% else %}
            <button>Follow</button>
        {% endif %}
        <a href="{{ url_for("new_post", cat_id=details[0]) }}"><button>Create Post</button></a>
    </div>
    <div>
        <h2>Latest Posts from {{ details[1] }}</h2>
        {% for post in posts %}
                <div id="post_prev"> <!--Post Preview-->
                    <div id="post_image"> <!--Post Image-->
                        <img src="{{ post.image }}" alt="Post Image">
                    </div>
                    <a href="{{url_for('get_category', cat_id=post[6])}}">{{ post[7] }}</a> <!--Post Category-->
                     <a href="{{url_for('get_post', post_id=post[0])}}"><h3>{{ post[4] }}</h3></a><!--Post Title-->
                    <p>Posted by <a href="{{ url_for('get_profile',user_id=post[8])}}">{{ post[9] }}</a> on {{ post[1] }}</p>  <!--Meant to be author-->
                    <p>{{ post[2] }} saves and {{ post[3] }} comments</p>
                </div>
            {% endfor %}
    </div>
{% endblock %}