{% extends "navbar.html" %}

{% block title %}Editing Post: {{ editing_post[0] }}{% endblock %}

{% block content %}
    <h1>Editing {{ editing_post[0] }} in <a href="{{ url_for('get_category', cat_id=cat_id) }}">{{ cat_name }}</a></h1>
    <div class="new_post">
        <form method="POST" enctype="multipart/form-data">
            <label for="title">New Post Title:</label>
                <input type="text" id="title" name="title" value="{{ editing_post[0] }}" required>

            <label for="content">New Content:</label>
                <textarea class="multiline_input" id="content" name="content" required>{{ editing_post[1] }}</textarea>

            <label for="attachment">New Attachment: (optional)</label>
                <input type="file" id="attachment" name="attachment" accept="image/*">

            <input type="submit" value="Create Post">
        </form>
    </div>
{% endblock %}