{% extends "navbar.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
        <h2>Welcome to PLATFORM, {{ user[1] }}!</h2>

        <div> <!--List of Posts-->
            <h3>Latest from your Following Categories</h3>
            <div class="p-1">
            {% for post in posts %}
                <div class="card"> <!--Post Preview-->
                    <div class="card__container">
                        <div class="card_image"> <!--Post Image TODO: change later with if statement so if not none -->
                            <img src="/uploads/{{ post[4] }}" alt="Post Image">
                        </div>
                        <div class="card__title-container bg-light p-1">
                            <a class="title" href="{{url_for('get_post', post_id=post[0])}}"><h3>{{ post[3] }}</h3></a>
                            <a class="subtitle text-dark" href="{{url_for('get_category', cat_id=post[5])}}">{{ post[6] }}</a> <!--Post Category-->
                            <p class="subtitle text-dark">Posted by <a href="{{ url_for('get_profile',user_id=post[7])}}">{{ post[8] }}</a> on {{ post[1] }}</p>  <!--Meant to be author-->
                            <p class="subtitle text-dark">{{ post[2] }} comments</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> <!--End of List of Posts-->
{% endblock %}