<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[PLATFORM] Home</title>
</head>
<body>
    <div> <!--Sidebar Menu with each category that the user follows-->
        <h3>Your Following Categories:</h3>
        {% for cat_id in categories[0] %}
            <a href="{{url_for('get_category', cat_id=cat_id)}}">{{ categories[1][loop.index0] }}</a>
        {% endfor %}

        <div> <!--After the fade out, permanently anchored to bottom-->
            <a href="{{ url_for('get_profile', user_id=user[0]) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

    <div> <!--Main Content of Page-->
        <h1>Welcome to PLATFORM, {% if user[1] %} {{ user[1] }} {%else%} {{ user[0] }} {%endif%}!</h1>
        <div> <!--Search Bar-->
                <form>
                    <input type="search" name="search">
                    <input type="submit" value="Search">
                </form>
        </div>

        <div> <!--List of Posts-->
            <h2>Latest Posts</h2>
            {% for post in posts %}
                <div> <!--Post Preview-->
                    <div> <!--Post Image-->
                        <img src="{{ post.image }}" alt="Post Image">
                    </div>
                    <a href="{{url_for('get_category', cat_id=post[6])}}">{{ post[9] }}</a> <!--Post Category-->
                     <a href="{{url_for('get_post', post_id=post[0])}}"><h3>{{ post[4] }}</h3></a><!--Post Title-->
                    <p>Posted by {{ None }} on {{ post[1] }}</p>  <!--Meant to be author-->
                    <p>{{ post[2] }} saves and {{ post[3] }} comments</p>
                </div>
            {% endfor %}
        </div> <!--End of List of Posts-->
    </div> <!--End of Main Content-->
</body>
</html>