<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[PLATFORM] Home</title>
</head>
<body>
    <h1>Welcome to PLATFORM, {{ name }}!</h1>

    <div> <!--Sidebar Menu with each category that the user follows-->
        {% for cat in following %}
            <a href="{{url_for('get_category', cat_id=cat)}}">{{ cat }}</a>
        {% endfor %}
    </div>

    <div> <!--Main Content of Page-->
        <div> <!--Search Bar-->
                <form>
                    <input type="search" name="search">
                    <input type="submit" value="Search">
                </form>
        </div>
        <div> <!--List of Posts-->
            <h2>Following Categories</h2>
            {% for post in followedcategories %}
                <div> <!--Post Preview-->
                    <div> <!--Post Image-->
                        <img src="{{ post.image }}" alt="Post Image">
                    </div>
                    <p>{{ post.categoryname }}</p>
                    <h2>{{ post.title }}</h2>
                    <p>Posted by {{ post.author }} on {{ post.date }}</p>
                    <p>{{ post.saves }} saves and {{ post.commentcount }} comments}</p>
                    <a href="{{url_for('get_post', post_id=post.id)}}">View Post</a>
                </div>
            {% endfor %}
        </div> <!--End of List of Posts-->
    </div> <!--End of Main Content-->
</body>
</html>