<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui/dist/cirrus.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="navbar" class="w-20p u-border-1 border-light">
        <div id="navbar-top">
            <div class="space ..."></div>
            <h3>Navigate</h3>
            <a href="{{ url_for('home') }}" class="u u-LR">Home</a>
            <br>
            <a href="{{ url_for('all_categories') }}" class="u u-LR">All Categories</a>
            <div class="space space--lg"></div>
            <h5>Following Clubs:</h5>
            {% for cat_id in categories[0] %}
                <a href="{{url_for('get_category', cat_id=cat_id)}}" class="u u-LR">{{ categories[1][loop.index0] }}</a>
                <br>
            {% endfor %}
        </div>
        <div id="navbar-bottom"> <!--After the fade out, permanently anchored to bottom-->
            <a href="{{ url_for('get_profile', user_id=user_id) }}" class="u u-LR">Profile</a>
            <br>
            <a href="{{ url_for('logout') }}" class="u u-LR">Logout</a>
        </div>
        <div class="space ..."></div>
    </div>
    <div id="website" class="w-80p">
        {% block content %}{% endblock %}
    </div>


</body>

</html>