{% extends "navbar.html" %}

{% block title %}Create New Post{% endblock %}

{% block content %}
    <h2>Create New Post in <a href="{{ url_for('get_category', cat_id=cat_id) }}">{{ cat_name }}</a></h2>
    <h3>Creating a new post as <a href="{{ url_for('get_profile', user_id=user_id) }}">{{ uname }}</a> on <a href="{{ url_for('get_category', cat_id=cat_id) }}">{{ cat_name }}</a></h3>
    <div class="new_post">
        <form method="POST" enctype="multipart/form-data">
            <label for="title">Post Title:</label>
                <input type="text" id="title" name="title" required>

            <div class="space ..."></div>

            <label for="content">Content:</label>
                <textarea class="multiline_input" id="content" name="content" required></textarea>

            <div class="space ..."></div>

            <label for="attachment">Attachment: (optional)</label>
                <input type="file" id="attachment" name="attachment" accept="image/*">

            <div class="space ..."></div>

            <input type="submit" value="Create Post">
        </form>
    </div>
{% endblock %}