{% extends "navbar.html" %}

{% block title %}Create New Category{% endblock %}

{% block content %}
    <h1>Create New Category</h1>
    <div class="new_category">
        <form method="POST" enctype="multipart/form-data">
            <label for="name">Category Name:</label>
                <input type="text" id="name" name="name" required>

            <label for="description">Description:</label>
                <textarea class="multiline_input" id="description" name="description" required></textarea>

            <label for="image">Category Image:</label>
                <input type="file" id="image" name="image" accept="image/*">

            <input type="submit" value="Create Category">
        </form>
    </div>
{% endblock %}