{% extends "navbar.html" %}

{% block title %}Post: {{ post[4] }}{% endblock %}

{% block content %}
    <div class="space"></div>
    <div class="p-1">
        <h2>"{{ post[3] }}"</h2>
        <h4>Posted by <a class="u u-LR" href="{{ url_for('get_profile',user_id=post[8])}}">{{ post[9] }}</a> on {{ post[1] }}</h4>
        <h5>Category: <a class="u u-LR" href="{{url_for('get_category', cat_id=post[6])}}">{{ post[7] }}</a></h5>

        {% if post[8] != user_id %}<a href="{{ url_for('save_post', post_id=post[0]) }}"><button>{% if post[0] in following[0] %}Unlike{% else %}Like{% endif %}</button></a>{% endif %}

        <p id="post-content">{{ post[4] }}</p>
        {% if post[5] != "None" %} <!--If there is an image attachment-->
            <img src="/uploads/{{ post[5] }}" alt="Post Image">
        {% endif %}

        <div class="space ..."></div>

        {% if post[8] == user_id %}
            <div>
                <button><a href="{{ url_for('edit_post', post_id=post[0]) }}">Edit Post</a></button>
                <button><a href="{{ url_for('delete_post', post_id=post[0]) }}">Delete Post</a></button>
            </div>
        {% endif %}
    </div>

    <div class="space space--lg"></div>

    <div id="new_comment">
        <h3>Write a Comment</h3>
        <form method="post">
            <label for="new_comment">{% if editing_comment != None %}Currently Editing{% endif %} Comment:</label>
            <textarea class="multiline_input" id="new_comment" name="new_comment">{% if editing_comment != None %}{{ editing_comment }}{% endif %}</textarea>
            <button type="submit">Post Comment</button>
        </form>
    </div>

    <div class="space space--lg"></div>

    <div id="post_comments">
        <h3>Comments</h3>
            {% if comments| length == 0 %}
                <p>No comments yet! Why don't you be the first?</p>
            {% else %}
                {% for comment in comments %}
                    <div class="frame">
                        <div class="frame__header">
                            <p><em>On {{ comment[1] }}</em></p>
                        <p><a href="{{ url_for('get_profile', user_id=comment[3]) }}">{{ comment[4] }}</a>: {{ comment[2] }}</p>
                        {% if comment[3] == user_id %}
                            <button><a href="{{ url_for("edit_comment", comment_id=comment[0], post_id=post[0])}}">Edit Comment</a></button>
                            <button><a href="{{ url_for("delete_comment", comment_id=comment[0], post_id=post[0])}}">Delete Comment</a></button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
