<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[PLATFORM] {{ username }}'s Profile</title>
</head>
<body>
    <div> <!-- Profile Section -->
        <h1>Profile</h1>
        <img src="{{ pfp }}" alt="Profile Picture"> <button>Edit</button>
        <p>Username: {{ username }}</p> <button>Edit</button>
        <p>Name: {{ name }}</p> <button>Edit</button>
        <p>Email: {{ email }}</p> <button>Edit</button>
    </div>
    <div> <!-- Following Categories/Posts Section -->
        <h1>Following and Saved</h1>

        <div> <!-- Following Categories -->
            <h2>Following Categories</h2>
            {% for category in categories[0] %}
            <div> <!-- Make the background for each category card the category photo -->
                <a href='{{ url_for('get_category', cat_id=category)}}'><h3>{{ categories[1][loop.index0] }}</h3></a>
                <button>Unfollow</button> <!-- Unfollow button to be anchored to right -->
            </div>
            {% endfor %}
        </div>

        <div>
            <h2>Saved Posts</h2>
            {% for post in saved_posts %}
            <div>
                <a href='{{ url_for('get_post', post_id=post)}}'><h3>{{ post }}</h3></a>
                <button>Unsave</button> <!-- Unsave button to be anchored to right -->
            </div>
            {% endfor %}
        </div>
    
        <div>
            <h2>Following Users</h2>
            {% for user in following_u %}
            <div class="profile_card">
                <img src="{{ user }}" alt="profile picture of {{ user_id }}">
                <a href='{{ url_for('get_profile', user_id=user)}}'><h3>{{ user }}</h3></a> <!-- Need to retrieve name shit-->
            </div>
            {% endfor %}
        </div>

</body>
</html>