{% extends "navbar.html" %}

{% block title %}{{ user[1] }}'s Profile{% endblock %}

{% block content %}
    <div class="space"></div>
    {% if is_self != True %}
        <div class="p-1"> <!-- Profile Section -->
            <h2 class="uppercase">{{ user[1] }}</h2>
            <div class="frame u-shadow-md u-border-1 border-light bg-light">
                <div class="row">
                    <div class="col-4">
                            {% if user[2] != None %}
                                <img src="/uploads/{{ user[2] }}" alt="Profile Picture">
                            {% else %}
                                <img src="/default_pfp.png" alt="Default Profile Picture">
                            {% endif %}
                    </div>
                    <div class="col-8 frame-header">
                        <div class="space space--xl"></div>
                        <div class="space space--lg"></div>
                        <h3>Username: {{ user[1] }}</h3>
                        <div class="space"></div>
                        <a href="{{ url_for('follow_user', user_id=user[0]) }}"><button>{% if user[0] in following_u[0] %}Unfollow{% else %}Follow{% endif %}</button></a>
                    </div>
                </div>
            </div>
        </div>
    <div class="space"></div>

    {% else %}
    <div class="p-1"> <!-- Profile Section -->
        <h2 class="uppercase">My Profile</h2>
        <div class="frame u-shadow-md u-border-1 border-light bg-light">
            <div class="row">
                <div class="col-4">
                        {% if user[3] != None %}
                            <img src="/uploads/{{ user[3] }}" alt="Profile Picture">
                        {% else %}
                            <img src="/default_pfp.png" alt="Default Profile Picture">
                        {% endif %}
                </div>
                <div class="col-8 frame-header">
                    <div class="space"></div>

                    <h3>Username: {{ user[1] }}</h3>
                    <h4>Email: {{ user[2] }}</h4>

                    <div class="space"></div>

                    <form method="POST" enctype="multipart/form-data">
                        <label for="pfp">New Profile Picture:</label>
                            <input style="width:80%;" type="file" id="pfp" name="pfp" accept="image/*">
                        <div class="space"></div>
                        <input class="bg-light u-shadow-xs" type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="space"></div>
    <div class="divider"></div>

    <div class="p-1"> <!-- Following Categories/Posts Section -->
        <h2 class="uppercase">Following and Saved</h2>

        <div> <!-- Following Categories -->
            <div class="space"></div>
            <h3>Following Clubs</h3>
            {% for category in categories[0] %}
            <div class="frame w-90p u-shadow-md u-border-1 border-light bg-light"> <!-- Make the background for each category card the category photo -->
                <div class="frame__header">
                    <div class="frame_title">
                        <a class="u u-LR" href='{{ url_for('get_category', cat_id=category)}}'><h4 class="font-alt">{{ categories[1][loop.index0] }}</h4></a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            {% endfor %}
        </div>

        <div class="space space--lg"></div>

        <div class="p-1">
            <h3>Saved Posts</h3>
            {% for post in saved_posts %}
                <div class="frame u-shadow-md u-border-1 border-light bg-light"> <!--Post Preview-->
                    <div class="row">
                        <div class="col-5">
                            {% if post[4] != "None" %}
                                <img style="width:100%;height:100%" src="/uploads/{{ post[4] }}" alt="Post Image">
                            {% else %}
                                <img style="width:100%;height:100%" src="/default_img.png" alt="Default Post Image">
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <div class="space ..."></div>
                            <a class="u u-LR" href="{{url_for('get_post', post_id=post[0])}}"><h3>{{ post[3] }}</h3></a>
                            <a class="u u-LR" href="{{url_for('get_category', cat_id=post[5])}}"><h6>{{ post[6] }}</h6></a> <!--Post Category-->
                            <p>Posted by <a class="u u-LR" href="{{ url_for('get_profile',user_id=post[7])}}">{{ post[8] }}</a> on {{ post[1] }}</p>  <!--Meant to be author-->
                            <p>{{ post[2] }} comments</p>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            {% endfor %}
        </div>

        <div class="space"></div>


        <div>
            <h3>Following Users</h3>
            {% for user in following_u %}
                <div class="frame u-shadow-md u-border-1 border-light bg-light">
                    <div class="row">
                        <div class="col-4">
                                {% if user[2] != None %}
                                    <img src="/uploads/{{ user[2] }}" alt="Profile Picture">
                                {% else %}
                                    <img src="/default_pfp.png" alt="Default Profile Picture">
                                {% endif %}
                        </div>
                        <div class="col-8 frame-header">
                            <div class="space"></div>
                            <h3>Username: {{ user[1] }}</h3>
                            <div class="space"></div>
                            <a href="{{ url_for('get_profile', user_id=user[0]) }}"><button>View Profile</button></a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="divider"></div>

    <div> <!-- Posts by user -->
        <h2 class="uppercase">Posts by {{ user[1] }}</h2>
        {% if posts | length == 0 %}
            <p>No posts yet</p>
        {% endif %}
        <div class="p-1">
            {% for post in posts %}
                <div class="frame u-shadow-md u-border-1 border-light bg-light"> <!--Post Preview-->
                    <div class="row">
                        <div class="col-5">
                            {% if post[4] != "None" %}
                                <img style="width:100%;height:100%" src="/uploads/{{ post[4] }}" alt="Post Image">
                            {% else %}
                                <img style="width:100%;height:100%" src="/default_img.png" alt="Default Post Image">
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <div class="space ..."></div>
                            <a class="u u-LR" href="{{url_for('get_post', post_id=post[0])}}"><h3>{{ post[3] }}</h3></a>
                            <a class="u u-LR" href="{{url_for('get_category', cat_id=post[5])}}"><h6>{{ post[6] }}</h6></a> <!--Post Category-->
                            <p>Posted by <a class="u u-LR" href="{{ url_for('get_profile',user_id=post[7])}}">{{ post[8] }}</a> on {{ post[1] }}</p>  <!--Meant to be author-->
                            <p>{{ post[2] }} comments</p>
                        </div>
                    </div>
                </div>
                <div class="space ..."></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}